@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 80px;
    width: 313px;
    cursor: pointer;
    padding-left: 10px;
}

nav{
    width: 80vw;
    margin: auto;
    height: 103px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}
nav ul li{
    list-style: none;
    margin-left: 2vw;
    cursor: pointer;
}
nav ul li:hover{
    color: #8f7575;
}
ul{
    padding-right: 10px;
}

.sec1{
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

.topleft{
    width: 50%;
    height: 70vh;
    background-color: #ffffff;
    /* border: 0.5px solid rgb(202, 184, 184); */
    border-right: 1px solid black;
}

.topleft h1{
    margin-bottom: 30px;
    font-weight: 700;
}
.topleft img{
   width: 250px;
   height: 200px;
}
.topright{
    width: 50%;
    height: 70vh;
    /* border: 0.5px solid rgb(202, 184, 184); */
    border-left: 1px solid black;
    background-color: #ffffff
}
.body-1 img{
    width: 45%;
    height: 50%;
}

.topleft p{
    padding: 0 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: start;
}

.sec2{
    width: 80vw;
    margin: auto;
    margin-top: 100px;
}
.sec2 h2{
    font-weight: 800;
    margin-bottom: 20px ;
}
.sec2 p{
    margin-bottom: 30px;
    text-align: start;
}
.cardContainer{
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border: 2px solid black;
    width: 250px;
    border-radius: 4px;
    
}
.sec2 ul li{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sec2 .btn{
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: black;
    border: none;
    font-weight: 500;
}
.sec2 h3{
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
}
.sec2{
    margin-bottom: 100px;
}


.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section3{
    width: 60vw;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}
.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
   
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}


footer{
    width: 80vw;
    margin: auto;
    height: 40vh;
}
hr{
    width: 80vw;
    margin: auto;
    border: none;
    border-top: 1px solid black;
}
.tagline{
    bottom: 0%;
    right: 36%;
    font-weight: 700;
    font-size: 22px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.deal , #demo{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.btn2{
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: black;
    border: none;
    padding: 4px 10px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}
.btn{
  background-color: rgba(231, 235, 228, 0.345);
  padding: 2px 10px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover{
  background-color: rgba(35, 36, 35, 0.345);
 
}
.btn2:hover{
  background-color: rgba(35, 36, 35, 0.345);
 
}

@media screen and (max-width: 1210px) {
    .h1-about{
        font-size: 20px;
    }
    .about-div{
        flex-direction: column;
    }
    .about-location{
        flex-direction: column;
        background-color: white;
        width: 100vw;
        gap:0;
    }
    .address{
        text-align: center;
    }
    .about-address{
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #080808;
        width: 100vw;
    }
    .about-contact{
        display: block;
    }
    .logo-about{
        width: 100vw;
    }
}
@media screen and (max-width: 1027px) {
    .sec2{
        width: 100vw;
    }
    .Gallery-interior-h1{
        width: 100vw;
     }
     .Gallery-interior{
        width: 100vw;
     }
     .Gallery-gym-h1{
        width: 100vw;
     }
     .Gallery-gym{
        width: 100vw;
     }
     .interior-grid{
         grid-template-columns: repeat(2, 1fr);
         gap: 10px;
         padding: 0;
     }
     .gym-grid{
         grid-template-columns: repeat(2, 1fr);
         gap: 10px;
         padding: 0;
     }
  }
@media screen and (max-width: 1027px) {
    nav{
      width: 100vw;
    }
    .logo img{
        height: 80px;
        width: 250px;
        cursor: pointer;
        padding-left: 0px;
    }
    .topleft img {
        width: 100px;
        height: 100px;
    }
    .sec1{
        width: 100vw;
    }
    .sec2{
        width: 100vw;
    }
  }
  @media screen and (max-width: 700px) {
    footer{
        width: 100vw;
        height: 35vh;
    }
    .footerlogo{
        margin-left: 0px;
    }
    .footer-first{
        width: 100vw;
        margin-left: 0;
    }
    .map-location{
        gap:0;
    }
    .phone-call{
        gap:0;
    }
    .design-by{
        margin-top: 10px;
        font-size: 14px;
    }
    .address{
        text-align: start;
    }
  }
@media screen and (max-width: 840px) {
    .about-div{
        flex-direction: column;
    }
    .about-location{
        flex-direction: column;
        background-color: white;
        width: 100vw;
        gap:0;
    }
    .about-address{
        display: flex;
        flex-direction: column;
        background-color: #080808;
        width: 100vw;
    }
    .about-contact{
        display: block;
    }
    .logo-about{
        width: 100vw;
    }
}
@media screen and (max-width: 840px) {
    nav{
      width: 100vw;
      position: relative;
    }
    nav ul li{
        flex-direction: column;
        font-size: 20px;
    }
    .menu{
        display: flex;
    }
    .close{
        display: flex;
    }
    nav ul{
        padding-right: 0;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 0px;
        right: -300px;
        z-index: 10;
        background-color: #080808;
        color: white;
        height: 500px;
        width: 300px;
        transition: all 0.75s ease-in-out;
    }
    .tagline{
        right: 32%;
    }
    nav ul li:last-child{
        background-color: white;
        color:#080808
    }
    .logo img{
        height: 80px;
        width: 250px;
        cursor: pointer;
        padding-left: 0px;
    }
    .sec1{
        width: 100vw;
    }
    .sec2{
        width: 100vw;
    }
    .section3{
        width: 100vw;
    }
    
    .topleft{
        width: 50vw;
        height: auto;
    }
  }

  @media screen and (max-width: 650px) {
    .sec1{
        flex-direction: column;
    }
    .topleft  {
        width: 100vw;
    }
    .topright  {
        width: 100vw;
    }
    .topright{
        height:40vh;
    }
    .tagline{
        right: 38%;
    }

  }

@media screen and (max-width: 550px) {
 
    .tagline{
        right: 36%;
    }
    
  }
@media screen and (max-width: 435px) {
    nav{
      width: 100vw;
    }
    Header{
      width: 100vw;
    }
    .sec1{
        width: 100vw;
    }
   
    .topright{
        height:35vh;
    }
    .tagline{
        right: 32%;
    }
    .footer-logo{
        padding-left: 0;
        padding-right: 20px;
    }
    .get-in{
        margin-right: 0;
        padding-left: 20px;
    }
    .design-by{
        margin-top: 35px;
    }
    .design{
        gap: 0;
    }
    .h1-about{
        font-size: 20px;
    }
    .about-div{
        flex-direction: column;
    }
    .about-location{
        flex-direction: column;
        background-color: white;
        width: 100vw;
        gap:0;
    }
    .about-address{
        display: flex;
        flex-direction: column;
        background-color: #080808;
        width: 100vw;
    }
    .about-contact{
        display: block;
    }
    .logo-about{
        width: 100vw;
    }

    footer{
        height: 34vh;
    }
    .footer-p{
        display: none;
    }
    .footer-logos{
        gap: 10px;
        margin-top: 10%;
    }
    .Gallery-interior-h1{
       width: 100vw;
    }
    .Gallery-interior{
       width: 100vw;
    }
    .Gallery-gym-h1{
       width: 100vw;
    }
    .Gallery-gym{
       width: 100vw;
    }
    .interior-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0;
    }
    .gym-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0;
    }
    
  }
@media screen and (max-width: 345px) {
    nav{
      width: 100vw;
    }
    Header{
      width: 100vw;
    }
    ul li{
      font-size: 7px;
    }
    .sec1{
        width: 100vw;
    }
   
    .topright{
        height:35vh;
    }
    .tagline{
        right: 30%;
    }
    
  }
@media screen and (max-width: 285px) {
    nav{
      width: 100vw;
    }
    Header{
      width: 100vw;
    }
    ul li{
      font-size: 7px;
    }
    .sec1{
        width: 100vw;
    }
   
    .topright{
        height:35vh;
    }
    .tagline{
        right: 20%;
    }
    
  }
